<!--<div class="fixed-menu">
	<div class="container">
	{{#if @blog.logo}}
		<a class="logo_sson" href="{{@blog.url}}">
			<img width="40px" src="{{@blog.logo}}" alt="{{@blog.title}}" />
	{{/if}}

	<nav class="second-menu">
		<ul>
			<li><a href="/about">mig</a></li>
			<li><a href="/#blog">Tankar</a></li>
			<li><a href="mailto:johanssonjohan@outlook.com">Hallå</a></li>
		</ul>
	</nav>
	</div>
</div>-->