<footer class="footer_sson">
	<!--<a class="subscribe_sson icon-rss" target="_blank" href="{{@blog.url}}/rss/">
		<span class="hidethis_uber">Subscribe!</span>
	</a>-->

	<div class="footertext_sson">
		<center>
			&copy; 2014 &bull; All rights reserved.
				<ul>
					<li><a href="https://github.com/Kermitthefrog" target="_blank">Github</a></li>
					<li><a href="https://twitter.com/JohanAJohansson" target="_blank">Twitter</a></li>
					<li><a href="https://www.linkedin.com/profile/view?id=216589398&trk=nav_responsive_tab_profile_pic" target="_blank">LinkedIn</a></li>
				</ul>
				Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a>
		</center>
	</div>
</footer>