<div class="overlay overlay-hugeinc">
	<nav id="primary-navigation" class="primary-navigation">
		<div class="container">
			{{#if @blog.logo}}
				<a class="logo_sson" href="{{@blog.url}}">
					<img width="40px" src="{{@blog.logo}}" alt="{{@blog.title}}" />
				</a>
			{{/if}}

			<ul class="menu">
				<li><a href="/about">Mig</a></li>
				<li><a href="/#blog">Tankar</a></li>
				<li><a href="mailto:johanssonjohan@outlook.com">Hallå</a></li>
			</ul>
		</div>
	</nav>
</div>



