<div class="overlay overlay-pizza">
	<nav id="primary-navigation" class="primary-navigation">
		<div class="container">
			{{#if @blog.logo}}
				<a class="logo_sson" href="{{@blog.url}}">
					<img width="40px" src="{{@blog.logo}}" alt="{{@blog.title}}" />
				</a>
			{{/if}}

				<div class="quotes">
					<p class="quote"></p>
				</div><!-- quotes end -->

			<ul class="menu">
				<li><a href="/about">Mig</a></li>
				<li><a href="/#blog">Tankar</a></li>
				<li><a href="mailto:johanssonjohan@outlook.com">Hallå</a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="header-bar hidden">
	<div class="quotes">
		<p class="quote"></p>
	</div><!-- quotes end -->

	<div class="toggle">
  	<a href="#" id="toggle-menu" class="hawaii">
    	<span class="bar bar-top"></span>
    	<span class="bar bar-middle"></span>
    	<span class="bar bar-bottom"></span>
		</a>
	</div>



