<!DOCTYPE html>
<html>
  {{> head}}
  <body class="{{body_class}}">
    {{#if posts}}
      <header id="header">

          {{> header}}

      </header>
    {{else}}
      <header id="post-header">
        <div class="cover-black">
          {{> post-header}}
        </div>
      </header>
    {{/if}}
    <div class="wrapper_sson">
      {{{body}}}
    </div>
    {{ghost_foot}}
  </body>
</html>
