@media (max-width: 960px) {
	.article_sson, .post {
		background: white;
		padding: $add_padding / 4 + 0em $add_padding / 5 + 0em $add_padding / 4 + 0em $add_padding / 5 + 0em;
		margin-bottom: 0.25em;
	}
}

@media (max-width: 720px) {

	#header {
		background-size: 60% !important;
	}

	.primary-navigation {
		width: 100%;
		background-color: transparent;
  	position: static;
  	left: 0;
  	bottom: 0;

  	img {
    	display: none;
  	}

  	.quotes {
  		display: none;
  	}
	}

	.primary-navigation ul {
    float: none;
    list-style: none;
    padding: 0;
    text-align: center;

	  li {
	    display: block;
	    //margin-left: 35px;
	  }
	}

	.overlay-pizza {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity .5s,visibility 0s .5s;
		transition: opacity .5s,visibility 0s .5s;

		nav {
			-webkit-perspective: 1200px;
			perspective: 1200px;

			ul {
				opacity: .4;
				-webkit-transform: translateY(-25%) rotateX(35deg);
				transform: translateY(-25%) rotateX(35deg);
				-webkit-transition: -webkit-transform .5s,opacity .5s;
				transition: transform .5s,opacity .5s;
			}
		}
	}

	.overlay-pizza.show {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;

		nav ul {
			opacity: 1;
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}
	}

	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		background-color: rgba(22,22,22,0.9);

		nav {
			text-align: center;
			position: relative;
			top: 50%;
			height: 60%;
			font-size: 46px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);

			ul {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				display: inline-block;
				height: 100%;
				position: relative;

				li {
					display: block;
					height: 20%;
					height: calc(20%);
					min-height: 90px;

					a {
						display: block;
						color: #fff;
						-webkit-transition: all .2s ease-out;
						-moz-transition: all .2s ease-out;
						-o-transition: all .2s ease-out;
						transition: all .2s ease-out;
					}
				}
			}
		}
	}

	.header-bar {
		width: 100%;
		height: 50px;
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;

		.quotes {
			float: left;
			padding: 0 20px;
		}

		h3 {
			float: left;
			margin: 0;
			padding: 10px;
			font-weight: 300;
		}

		.toggle {
			width: 30px;
			float: right;
			margin: 10px 35px 0 0;
			display: block;
			z-index: 100;

			.hawaii {
				width: 100%;
			}
		}


		.hawaii .bar {
			background: #FC5253;
			display: block;
			height: 3px;
			margin: 6px;
			position: relative;
			-webkit-transition: -webkit-transform .4s ,opacity .3s;
			transition: transform .4s ,opacity .3s;
			width: 100%;
			z-index: 9999;
			display: block;
		}


		.hawaii.x .bar-top {
			top: 7px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: -webkit-transform .4s;
			transition: transform .4s;
		}

			.hawaii.x .bar-middle {
			opacity: 0;
			-webkit-transition: opacity .3s;
			transition: opacity .3s;
		}

		.hawaii.x .bar-bottom {
			top: -11px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transition: -webkit-transform .4s;
			transition: transform .4s;
		}
	}

	.header-bar.fixed {
		background: rgba(255,255,255,0.8);
		bottom: auto;
		left: 0;
		position: fixed !important;
		top: 0;
		padding: 5px 0;
		z-index: 9999;
	}
}

@media (max-width: 640px) {
	#header {
		background-size: 65% !important;
	}

	h1 {
		font-size: 2em;
	}

 	blockquote.qoute-mobile {
		font-size: 1em;
	}
}

@media (max-width: 400px) {
	#header {
		background-size: 100% !important;
	}

	h1 {
		font-size: 1.6em;
	}

	.header_sson,
	.post-header_sson {
		padding-top: 1 * $golden + 0em;
    padding-right: 0.5 * $golden + 0em;
    padding-bottom: 4 * $golden + 0em;
    padding-left: 0.5 * $golden + 0em;
	}

	h1.posttitle_sson,
	h1.blogtitle_sson a {
		margin-left: 0rem;
		margin-right: 0rem;
		padding: 0.809rem 0rem;
		font-size: 2.2rem;
	}

	p.blogdescription_sson,
	p.blogdescription_sson a {
		font-size: 1em;
	}

	.share .left {
		width: 100%;
		text-align: center;
	}

	.share .right {
		display: none;
	}

	.quotes {
		font-size: 12px;
	}
}

@media (max-width: 320px) {


	.header_sson {
		padding-top: $golden + 0em;
	}
}