@media (max-width: 960px) {
		#contact .row {
		padding: 0;
	}
}

@media (max-width: 400px) {
	h1.posttitle_sson {
		margin-left: 0rem;
		margin-right: 0rem;
		padding: 0.809rem 0rem;
	}

}

@media (max-width: 320px) {

}